.person {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 231px;
  background: #fff;
  flex-direction: column;

  &__photo {
    display: flex;
    justify-content: flex-end;
    border-radius: 200px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    padding-top: 0;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__details {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F4F4F;
  }
}

.photo {
  &__rank {
    position: absolute;
    right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    color: #8B0000; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 18.4px;
  }
}

.details {
  &__extra {
    display: none;
    color:  #000000;
    font-size: 21.6px;
    line-height: 25px;
    text-align: center;
  }
}